body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container1 {
  top: 0;
  position: sticky;
  background-color: white;
  z-index: 5;
  color: #000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 50px;
  padding-left: 20px;
}

.nav {
  padding: 5px;
}

.container2 > img {
  width: 100%;
  height: 100%;
}

.small_image {
  display: none;
}

.headtitle {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3em;
  position: absolute;
  top: 25%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -70%);
  text-align: center;
  width: 80%;
}

.subtitle {
  font-size: 1em;
  position: absolute;
  top: 40%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -70%);
  text-align: center;
}

.startfree {
  top: 55%;
  left: 50%;
  position: absolute;
  color: #000;
  transform: translate(-50%, -70%);
  background-color: #f2c811;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: 600;
}

.startfree:hover {
  text-decoration: underline black;
}

.container3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
}

.text1 {
  border-right: 1px solid #c4c4c4 !important;
}

.text1,
.text2 {
  padding: 0 120px;
}

.conatiner4 {
  display: grid;
  padding: 30px;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
}

.para1 {
  grid-row-start: 1;
  grid-row-end: 1;
}
.para2 {
  grid-row-start: 2;
  grid-row-end: 2;
}
.para3 {
  grid-row-start: 3;
  grid-row-end: 3;
}
.para4 {
  grid-row-start: 1;
  grid-row-end: 4;
}

@media (max-width: 700px) {
  .large_image {
    display: none;
  }
  .small_image {
    display: block;
  }

  .headtitle {
    font-size: 1.5em;
    top: 20%;
    left: 50%;
  }

  .subtitle {
    width: 80%;
  }

  .container3 {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr !important;
  }

  .text1 {
    border-bottom: 1px solid #c4c4c4 !important;
  }

  .text1,
  .text2 {
    background-color: white;
    border-right: none !important;
    padding: 40px;
  }
}
